.layout-container {
  margin: auto auto;
  // padding: 0 0 64%;
  background-size: cover;
  background-position: center;
  width: 44%;
  height: 600px;
  text-align: center;

  .layout-root {
    position: relative;
    margin: 0;
    width: 100%;
    top: 10px;
    height: 580px;
    // padding: 0 0 92%;
    background: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/layout.svg);
  }
}
