/*
  TODO
  Figure out how to style SVG with inline styling
  Then, delete this
*/

svg.office-layout {
  margin: 0;
  height: 96%;
  width: 46%;
  background: #FFFFFF;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/layout.svg);

  @media (max-aspect-ratio: 6/4) {
    height: 92%;
    width: 60%;
  }
}
