{
  "plugins": ["react", "filenames"],
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  },
  "env": {
    "es6": true
  },
  "rules": {
    "strict": 0,
    "global-require": 0,
    "import/no-unresolved": 0,
    "react/jsx-indent": 0,
    "quotes": [2, "single"],
    "arrow-body-style": [2, "as-needed"],
    "func-style": [2, "expression"],
    "prefer-arrow-callback": [2, {
      "allowNamedFunctions": false,
      "allowUnboundThis": false,
    }],
    "func-names": 2,
    "react/jsx-space-before-closing": [2, "never"],
    "react/prefer-es6-class": 2,
    "jsx-quotes": [2, "prefer-single"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-invalid-this": 0,
    "react/jsx-closing-bracket-location": [2, "after-props"],
    "react/jsx-boolean-value": 0,
    "react/jsx-no-bind": 0,
    "react/prop-types": 2,
    "react/no-set-state": 2,
    "react/prefer-stateless-function": 2,
    "valid-jsdoc": 0,
    "comma-dangle": 0,
    "no-param-reassign": 0,
    "consistent-return": 0,
    "default-case": 0,
    "no-extra-parens": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-undef": 0
  },
  "globals": {
    "require": true
  }
}
