@import 'transitions/index';

@import 'components/office-layout';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

html, body, #root {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #F8F8FF;
}

svg.chunk {
  color: #FF0000;
}
