@import 'transitions/index';

@import 'components/common';
@import 'components/office-layout';
@import 'components/chunks/base';

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html, body, #root {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #F8F8FF;

  div.container {
    height: 100%;
    width: 100%;
  }
}
